{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "API Key (or Client API Key)"|t('cm-transactional'),
    instructions: "You can find this in your Campaign Monitor settings."|t('cm-transactional'),
    id: 'apiKey',
    name: 'apiKey',
    value: adapter.apiKey,
    errors: adapter.getErrors('apiKey')
}) }}

{#
{{ forms.textField({
    label: "Client ID"|t('cm-transactional'),
    instructions: "You can find this in your Campaign Monitor settings."|t('cm-transactional'),
    id: 'clientId',
    name: 'clientId',
    value: adapter.clientId,
    errors: adapter.getErrors('clientId')
}) }}
#}